body {
    background-image: url(imagenes/fondoch.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

h1, h2 {
    text-align: center;
    margin: auto;
    width: 640px;
    padding: 50px;
    font-family: 'fantasy', Party LET;
    color: rgba(255, 255, 255, 0.842);
    text-shadow:
        1px 1px 2px rgb(255, 94, 147),
        0 0 1em rgb(255, 155, 188),
        0 0 0.2em rgb(248, 120, 162);
}

h1{
    font-size: 50px;
}

p{
    font-size: 20px;
    margin: auto;
    width: 640px;
    font-family: 'Arial', sans-serif;
    color: #33475b;
    text-align: justify;
    padding: 3px;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    color: rgb(255, 240, 251);
    text-align: center;
    position: relative;
    bottom: 20px;
    background-color: rgba(255, 148, 223, 0.603);
}

#openings {
    display: flex;
    justify-content: center;
}

.op{
    position: relative;
    left: 50px
}

#transformaciones {
    display: flex;
    justify-content: space-around;
}
